
  * {
  box-sizing: border-box;
    margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


header {
  background-color: #DFB775;
  background-image: url(./obr/atla_header.png);
  background-position: right;
  background-size: 15%;
  background-repeat: no-repeat;
  padding: 4vh 130vh 4vh 4vh;
  text-align: center;
  font-size: 35px;
  color: black;
  border: 10px solid gray;
}


nav {
  float: left;
  width: 180px;
  background: #FFD287;
  height: auto;
}


nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li{
    width: 100%;
    padding: 20px;
    color: black;
    border-left: solid 10px gray;
    transition: background 0.2s, border 0.4s; 
}
nav ul li:hover{
    border-left: solid 8px black;
    background-color: rgb(255, 187, 77);
    color: rgba(34, 47, 62, 1);
}

.border p{
    background-color: gray;
    color: gray;
    padding: 0px;
    margin: 0px; 
    font-size: 5px;
}

article {
  float: left;
  width: calc(100% - 180px);

  height: auto;
  display: inline-flex;
  background-image: url(obr/imageedit_1_9006734009.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}


section:after {
  content: "";
  display: table;
  clear: both;

}

section{
        background-color: rgba(255,248,220, 1);
}


footer {
  background-color: #DFB775;
  padding: 10px;
  text-align: center;
  color: white;
}


figure{
  float: left;
  padding: 0px;
  margin: 5px;
  text-align: center;
}

figcaption{
    margin-bottom: 20px;
}



table{
    border-collapse: collapse;
}

th{
    border: 0.3vh solid black;
    padding: 1vh;  
}

td{
    border: 0.1vh solid black;
    padding: 0.5vh;
    
}

a{
    text-decoration: none;
    color: rgba(34, 47, 62, 0.8);
    width: 100%;
}



.first{
    width: 70%;
    display: inline-block;
    padding: 20px;
    margin-right: 40px;
}

.sec{
    width: 25%;
    margin-left: 500px; 
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 32px;
    border: 2px solid #DFB775;
    border-radius: 25px;
    background-color: #DFB775;
}

.sec, .sec div{
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

img{
    width: 80%;
    height: auto;
}

p{
    margin: 20px;
    line-height: 150%;
}

h2{
    margin-top: 20px;
    font-family: verdana;
}

h3{
    margin-top: 5px;
    font-family: verdana;
}

.cursive{
    font-style: italic;
}
